{{template "header"}}
    	<title>首页 - 社区党员信息管理系统</title>
  	</head>
	
	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				{{template "navbar" .}}
			</div>	
		</div>

    	<div> 
    	<label>修改密码</label>
		<li><a href="/password_modify">修改密码</a></li>
		</div>
		
		<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	</body>
</html>
